#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.container {
    @apply bg-gradient-to-r from-teal-300 to-blue-500 min-h-screen flex flex-col items-center justify-center p-4;
}